RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://dev.aggressor.com/$1 [R,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# One param
# IE: search

RewriteRule ^/?([^/]*)$ index.php?section=$1 [L,QSA]

# Two params
# IE: search/12345

RewriteRule ^pdf/?([^/]*)$ view_waiver.php?pdf_file=$1 [NC,L]
RewriteRule ^edit_access/([a-zA-Z0-9]+)/?$ index.php?section=edit_access&actionID=$1 [NC,L]
RewriteRule ^edit_boat/([a-zA-Z0-9]+)/?$ index.php?section=edit_boat&boatID=$1 [NC,L]
RewriteRule ^edit_historic_boat/([a-zA-Z0-9]+)/?$ index.php?section=edit_historic_boat&boatID=$1 [NC,L]
RewriteRule ^manage_bunks/([a-zA-Z0-9]+)/?$ index.php?section=manage_bunks&boatID=$1 [NC,L]
RewriteRule ^manage_destinations/([a-zA-Z0-9]+)/?$ index.php?section=manage_destinations&boatID=$1 [NC,L]
RewriteRule ^new_bunk/([a-zA-Z0-9]+)/?$ index.php?section=new_bunk&boatID=$1 [NC,L]
RewriteRule ^new_destination/([a-zA-Z0-9]+)/?$ index.php?section=new_destination&boatID=$1 [NC,L]
RewriteRule ^manage_boats/([a-zA-Z0-9]+)/?$ index.php?section=manage_boats&status=$1 [NC,L]
RewriteRule ^charter_status/([a-zA-Z0-9]+)/?$ index.php?section=charter_status&status=$1 [NC,L]
RewriteRule ^delete_historic_boat/([a-zA-Z0-9]+)/?$ index.php?section=delete_historic_boat&boatID=$1 [NC,L]
RewriteRule ^edit_charter_status/([a-zA-Z0-9]+)/?$ index.php?section=edit_charter_status&statusID=$1 [NC,L]
RewriteRule ^delete_charter_status/([a-zA-Z0-9]+)/?$ index.php?section=delete_charter_status&statusID=$1 [NC,L]
RewriteRule ^contacts/([a-zA-Z0-9]+)/?$ index.php?section=contacts&contactID=$1 [NC,L]
RewriteRule ^contact/([a-zA-Z0-9]+)/?$ index.php?section=contacts&contactID=$1 [NC,L]
RewriteRule ^manage_contacts/([a-zA-Z0-9]+)/?$ index.php?section=manage_contacts&clear=yes [NC,L]
RewriteRule ^locate_charter/([a-zA-Z0-9]+)/?$ index.php?section=locate_charter&clear=yes [NC,L]
RewriteRule ^add_historic_reservation/([a-zA-Z0-9]+)/?$ index.php?section=add_historic_reservation&contactID=$1 [NC,L]
RewriteRule ^edit_charter/([a-zA-Z0-9]+)/?$ index.php?section=edit_charter&charterID=$1 [NC,L]
RewriteRule ^view_charter/([a-zA-Z0-9]+)/?$ index.php?section=view_charter&charterID=$1 [NC,L]
RewriteRule ^new_reservation/([a-zA-Z0-9]+)/?$ index.php?section=new_reservation&charterID=$1 [NC,L]
RewriteRule ^reservations/([a-zA-Z0-9]+)/?$ index.php?section=reservations&reservationID=$1 [NC,L]
RewriteRule ^reservations_guests/([a-zA-Z0-9]+)/?$ index.php?section=reservations_guests&reservationID=$1 [NC,L]
RewriteRule ^reservations_dollars/([a-zA-Z0-9]+)/?$ index.php?section=reservations_dollars&reservationID=$1 [NC,L]
RewriteRule ^reservations_timeline/([a-zA-Z0-9]+)/?$ index.php?section=reservations_timeline&reservationID=$1 [NC,L]
RewriteRule ^reservations_notes/([a-zA-Z0-9]+)/?$ index.php?section=reservations_notes&reservationID=$1 [NC,L]
RewriteRule ^reservations_airline/([a-zA-Z0-9]+)/?$ index.php?section=reservations_airline&reservationID=$1 [NC,L]
RewriteRule ^reservations_hotel/([a-zA-Z0-9]+)/?$ index.php?section=reservations_hotel&reservationID=$1 [NC,L]
RewriteRule ^reservations_aat/([a-zA-Z0-9]+)/?$ index.php?section=reservations_aat&reservationID=$1 [NC,L]
RewriteRule ^reservations_itinerary/([a-zA-Z0-9]+)/?$ index.php?section=reservations_itinerary&reservationID=$1 [NC,L]
RewriteRule ^reservations_cancel/([a-zA-Z0-9]+)/?$ index.php?section=reservations_cancel&reservationID=$1 [NC,L]
RewriteRule ^stateroom/([a-zA-Z0-9]+)/?$ index.php?section=stateroom_overview&inventoryID=$1 [NC,L]
RewriteRule ^stateroom_requests/([a-zA-Z0-9]+)/?$ index.php?section=stateroom_requests&inventoryID=$1 [NC,L]
RewriteRule ^stateroom_diving/([a-zA-Z0-9]+)/?$ index.php?section=stateroom_diving&inventoryID=$1 [NC,L]
RewriteRule ^stateroom_insurance/([a-zA-Z0-9]+)/?$ index.php?section=stateroom_insurance&inventoryID=$1 [NC,L]
RewriteRule ^stateroom_travel/([a-zA-Z0-9]+)/?$ index.php?section=stateroom_travel&inventoryID=$1 [NC,L]
RewriteRule ^stateroom_rentals/([a-zA-Z0-9]+)/?$ index.php?section=stateroom_rentals&inventoryID=$1 [NC,L]
RewriteRule ^stateroom_requests/([a-zA-Z0-9]+)/?$ index.php?section=stateroom_requests&inventoryID=$1 [NC,L]
RewriteRule ^stateroom_supplement/([a-zA-Z0-9]+)/?$ index.php?section=stateroom_supplement&inventoryID=$1 [NC,L]
RewriteRule ^stateroom_survey/([a-zA-Z0-9]+)/?$ index.php?section=stateroom_survey&inventoryID=$1 [NC,L]
RewriteRule ^manage_res_pax/([a-zA-Z0-9]+)/?$ index.php?section=manage_res_pax&reservationID=$1 [NC,L]
RewriteRule ^change_stateroom_guest/([a-zA-Z0-9]+)/?$ index.php?section=change_stateroom_guest&inventoryID=$1 [NC,L]
RewriteRule ^manage_stateroom_discounts/([a-zA-Z0-9]+)/?$ index.php?section=manage_stateroom_discounts&inventoryID=$1 [NC,L]





# Three params
# IE: search/12345/676767

RewriteRule ^edit_bunk/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=edit_bunk&bunkID=$1&boatID=$2 [NC,L]
RewriteRule ^delete_bunk/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=delete_bunk&bunkID=$1&boatID=$2 [NC,L]
RewriteRule ^edit_destination/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=edit_destination&destinationID=$1&boatID=$2 [NC,L]
RewriteRule ^delete_destination/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=delete_destination&destinationID=$1&boatID=$2 [NC,L]
RewriteRule ^contact/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=contacts_part&part=$1&contactID=$2 [NC,L]
RewriteRule ^view_charter/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=view_charter&charterID=$1&complete=$2 [NC,L]
RewriteRule ^new_reservation/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=new_reservation&charterID=$1&tab=$2 [NC,L]

RewriteRule ^add_inventory/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=add_inventory&inventoryID=$1&reservationID=$2 [NC,L]
RewriteRule ^delete_inventory/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=delete_inventory&inventoryID=$1&reservationID=$2 [NC,L]

RewriteRule ^reservations_aat_manage/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=reservations_aat_manage&reservationID=$1&invoiceID=$2 [NC,L]

# Four params
RewriteRule ^contact/delete_imported/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=delete_imported&id=$1&contactID=$2 [NC,L]
RewriteRule ^contact/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=contacts_part&part=$1&contactID=$2&reservationID=$3 [NC,L]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php70” package as the default “PHP” programming language.
<IfModule mime_module>
  AddType application/x-httpd-ea-php70 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
