RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://dev.aggressor.com/$1 [R,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# One param
# IE: search

#RewriteRule ^/?([^/]*)$ index.php?section=$1 [NC,L]
RewriteRule ^/?([^/]*)$ index.php?section=$1 [L,QSA]

# Two params
# IE: search/12345

RewriteRule ^edit_access/([a-zA-Z0-9]+)/?$ index.php?section=edit_access&actionID=$1 [NC,L]
RewriteRule ^edit_boat/([a-zA-Z0-9]+)/?$ index.php?section=edit_boat&boatID=$1 [NC,L]
RewriteRule ^edit_historic_boat/([a-zA-Z0-9]+)/?$ index.php?section=edit_historic_boat&boatID=$1 [NC,L]
RewriteRule ^manage_bunks/([a-zA-Z0-9]+)/?$ index.php?section=manage_bunks&boatID=$1 [NC,L]
RewriteRule ^manage_destinations/([a-zA-Z0-9]+)/?$ index.php?section=manage_destinations&boatID=$1 [NC,L]
RewriteRule ^new_bunk/([a-zA-Z0-9]+)/?$ index.php?section=new_bunk&boatID=$1 [NC,L]
RewriteRule ^new_destination/([a-zA-Z0-9]+)/?$ index.php?section=new_destination&boatID=$1 [NC,L]
RewriteRule ^manage_boats/([a-zA-Z0-9]+)/?$ index.php?section=manage_boats&status=$1 [NC,L]
RewriteRule ^charter_status/([a-zA-Z0-9]+)/?$ index.php?section=charter_status&status=$1 [NC,L]
RewriteRule ^delete_historic_boat/([a-zA-Z0-9]+)/?$ index.php?section=delete_historic_boat&boatID=$1 [NC,L]
RewriteRule ^edit_charter_status/([a-zA-Z0-9]+)/?$ index.php?section=edit_charter_status&statusID=$1 [NC,L]
RewriteRule ^delete_charter_status/([a-zA-Z0-9]+)/?$ index.php?section=delete_charter_status&statusID=$1 [NC,L]
RewriteRule ^contacts/([a-zA-Z0-9]+)/?$ index.php?section=contacts&contactID=$1 [NC,L]
RewriteRule ^contact/([a-zA-Z0-9]+)/?$ index.php?section=contacts&contactID=$1 [NC,L]
RewriteRule ^manage_contacts/([a-zA-Z0-9]+)/?$ index.php?section=manage_contacts&clear=yes [NC,L]
RewriteRule ^locate_charter/([a-zA-Z0-9]+)/?$ index.php?section=locate_charter&clear=yes [NC,L]
RewriteRule ^add_historic_reservation/([a-zA-Z0-9]+)/?$ index.php?section=add_historic_reservation&contactID=$1 [NC,L]
RewriteRule ^edit_charter/([a-zA-Z0-9]+)/?$ index.php?section=edit_charter&charterID=$1 [NC,L]
RewriteRule ^view_charter/([a-zA-Z0-9]+)/?$ index.php?section=view_charter&charterID=$1 [NC,L]
RewriteRule ^new_reservation/([a-zA-Z0-9]+)/?$ index.php?section=new_reservation&charterID=$1 [NC,L]
RewriteRule ^reservations/([a-zA-Z0-9]+)/?$ index.php?section=reservations&reservationID=$1 [NC,L]

# Three params
# IE: search/12345/676767

RewriteRule ^edit_bunk/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=edit_bunk&bunkID=$1&boatID=$2 [NC,L]
RewriteRule ^delete_bunk/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=delete_bunk&bunkID=$1&boatID=$2 [NC,L]
RewriteRule ^edit_destination/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=edit_destination&destinationID=$1&boatID=$2 [NC,L]
RewriteRule ^delete_destination/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=delete_destination&destinationID=$1&boatID=$2 [NC,L]
RewriteRule ^contact/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=contacts_part&part=$1&contactID=$2 [NC,L]
RewriteRule ^view_charter/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=view_charter&charterID=$1&complete=$2 [NC,L]
RewriteRule ^new_reservation/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=new_reservation&charterID=$1&tab=$2 [NC,L]

# Four params
RewriteRule ^contact/delete_imported/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=delete_imported&id=$1&contactID=$2 [NC,L]
RewriteRule ^contact/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=contacts_part&part=$1&contactID=$2&reservationID=$3 [NC,L]



# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php70” package as the default “PHP” programming language.
<IfModule mime_module>
  AddType application/x-httpd-ea-php70 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
